<div class="search-result-title"><%= entry.title %></div>

<div class="search-result-body"><%= entry.description %></div>
<div class="search-result-anon">
<p>
  <i>
    Dream is
    <% if entry.is_private == true %>
      private
    <% else %>
      public
      <% if entry.is_anon == true %>
        and anonymous
      <% else %>
        and written by
        <%= entry.user_id %>
      <% end %>
    <% end %>
  </i>
</p>
</div>

