<h1 class="search-results-header rounded">Dreams Found...</h1>
<br>
<%= will_paginate @pag_entries, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination) %>
<%= render @pag_entries %>

<%= will_paginate @pag_entries, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination) %>
<br>