<footer class="bg-dark text-center table-font text-white mt-auto">
  <!-- Copyright -->
  <div class="text-center p-3 nav-item" style="background-color: rgba(0, 0, 0, 0.1); color: rgba(255,255,255,.55)">
    © 2021 Copyright: Dreamcatcher
  </div>
  <!-- Copyright -->
</footer>
