<footer class="bg-dark text-center table-font text-white mt-auto">
  <!-- Copyright -->
  <div class="text-center p-3 footer" style="background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity)); color: rgba(255,255,255,.55)">
    © 2021 Copyright: Dreamcatcher
  </div>
  <!-- Copyright -->
</footer>
