<h1 class="label-font">About Us</h1>

  <div class = "blockquote about-spill" id="about-animation">
    <div class = "description rounded">
      <p>
        Here at Dreamcatcher we believe in the power and importance of dreams.
				What you see in your dreams is often a manifestation of what is happening in your life.
				Understanding and interpreting your dreams is a powerful feeling that can lead to clarity and happiness.
				Most people dream but often forget their dreams in a matter of days.
      </p>
      <hr>
      <p>
        By providing users with a platform to log their dreams, Dreamcatcher aims to help people recall their dreams.
				With a clear record of all dreams, users are able to reflect on dreams of weeks or months past and hopefully notice patterns.
				Our mission is to spread the word about the importance of dreams and help users understand their subconscious. TEst
      </p>
    </div>
  </div>
