<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- All pages must include a title -->
    <title>Homepage</title>
    <!-- For fonts-->
    <link rel="stylesheet" href="stylez.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <!-- For Bootstrap -->
    <link rel="bootstrap" href="css/bootstrap-grid.css">
</head>
<body>
    <!-- Background image -->

        <div class="mask" style="background-color: rgba(36, 0, 184, 0.09);">
            <div
                    class="bg-image"
                    style="
        background-image: url('website-background.png');
        height: 100vh;
      "
            >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Dreamcatcher</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class = "table">
                    <div class="dream-log">
                        <table>
                            <thead class="thead-dark">
                            <tr>
                                <th style="width: 10%">Date</th>
                                <th style="width: 30%">Entry Title</th>
                                <th style="width: 60%">Entry</th>
                            </tr>
                            </thead>
                            <!-- Note: each <tr> ... </tr> group will be one entry. Each entry can be sandwiched by <td>...</td>, which stands for table data-->
                            <!-- you really just need to figure out how to log this data and we're boolin on this page -->
                            <tr>
                                <td>
                                    <script> document.write(new Date().toLocaleDateString()); </script>
                                </td>
                                <td>
                                    <form>
                                        <label for="title">New Entry Title:</label><br>
                                        <input type="text" id="title" name="title"><br>
                                    </form>
                                </td>
                                <td>
                                    <form>
                                        <label for="entry">New Entry: </label><br>
                                        <input type="text" id="entry" name="entry"><br>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->



</body>
</html>
